In [4]:
import requests
from pandas.io.json import json_normalize
import pandas as pd
import json
import urllib.request
import urlexpander

url = "https://www.allsides.com/media-bias/json/noncommercial/all"

data = urllib.request.urlopen(url).read().decode()

# parse json object
obj = json.loads(data)
data = obj['allsides_media_bias_ratings']


df = df = pd.DataFrame(data)

df['article_domain'] = df['source_url'].apply(lambda x:urlexpander.get_domain(x))

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 976 entries, 0 to 975
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   source_name        976 non-null    object
 1   source_type        976 non-null    object
 2   media_bias_rating  976 non-null    object
 3   source_url         976 non-null    object
 4   allsides_url       976 non-null    object
 5   article_domain     976 non-null    object
dtypes: object(6)
memory usage: 45.9+ KB

In [9]:
#df  = df.query("source_url!='' & article_domain!=''")
df = df.dropna()
df = df.drop_duplicates(subset=['article_domain'])
df.sort_values(by='article_domain', inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 476 entries, 0 to 975
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   source_name        476 non-null    object
 1   source_type        476 non-null    object
 2   media_bias_rating  476 non-null    object
 3   source_url         476 non-null    object
 4   allsides_url       476 non-null    object
 5   article_domain     476 non-null    object
dtypes: object(6)
memory usage: 26.0+ KB

In [15]:
df.head(5)

      article_domain   polarity
0                          Left
2           aarp.org     Center
5    abridgenews.com      Mixed
7           aclu.org  Lean Left
391      actblue.com       Left

In [12]:
df = df[['article_domain','media_bias_rating']]
df.columns=['article_domain','polarity']
df.head()

      article_domain   polarity
0                          Left
2           aarp.org     Center
5    abridgenews.com      Mixed
7           aclu.org  Lean Left
391      actblue.com       Left

In [13]:
df.to_csv('./article_polarity.txt', index = False, sep='\t')

In [14]:
df.polarity.unique()

array(['Left', 'Center', 'Mixed', 'Lean Left', 'Right', 'Lean Right'],
      dtype=object)